{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Submarine Swaps With Go</title>
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
      	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
      	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
      	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
      	<link rel="stylesheet" type="text/css" href="/static/css/nav.css">
      </head>

    <body>
      {{template "topnav" .}}
      {{template "body" .}}
      {{template "footer" .}}
      <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
      <script src="/static/vendor/select2/select2.min.js"></script>
      <script>
        $(".selection-2").select2({
          minimumResultsForSearch: 20,
          dropdownParent: $('#dropDownSelect1')
        });
      </script>
      <!-- <script src="/static/js/main.js"></script> -->
    </body>
</html>
{{end}}
