{{template "base" .}}

{{define "title"}}Swap{{end}}

{{define "body"}}
      <div class="container-contact100">
        <div class="wrap-contact100">
          <span class="contact100-form-title">
            Submarine Swaps
          </span>
          <p>Allows you to trade on-chain coins for Lightning invoice payments.</p>
          <p>This site was created from the project at <a href=https://github.com/bjarnemagnussen/go-submarine-swaps>github.com</a>.</p>
          <p>Its purpose is purely educational. To learn more about its creation visit the project page!</p>
        </div>
      </div>
{{end}}
