{{define "topnav"}}
      <div class="topnav">
        <img src="/static/images/submarine-icon.png" width="55" height="55" id="logo" />
        <a class="home" href="/">Submarine Swaps</a>
        <a class="swap" href="/swap">Swap</a>
        <a class="refund" href="/refund">Refund</a>
      </div>
{{end}}
